<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/escalade_test</property>
        <property name="connection.username">nanoo</property>
        <property name="connection.password">456258456258</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- create if no exist the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        
        <!-- Enable 2nd level cache with EhCache -->
        <property name="cache.use_second_level_cache">true</property>
        <property name="cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>
        <property name="cache.provider_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>

        <!-- dbcp connection pool configuration -->
        <property name="dbcp.initialSize">5</property>
        <property name="dbcp.maxTotal">20</property>
        <property name="dbcp.maxIdle">10</property>
        <property name="dbcp.minIdle">5</property>
        <property name="dbcp.maxWaitMillis">-1</property>

        <!-- déclaration des entitées -->
        <mapping class="com.nanoo.model.entities.user.Account" />
        <mapping class="com.nanoo.model.entities.user.Address" />
        <!-- <mapping class="com.nanoo.model.entities.user.EnumRole" /> -->

        <mapping class="com.nanoo.model.entities.publication.Commentary" />
        <mapping class="com.nanoo.model.entities.publication.Message" />
        <mapping class="com.nanoo.model.entities.publication.Publication" />
        <mapping class="com.nanoo.model.entities.publication.Sector" />
        <mapping class="com.nanoo.model.entities.publication.Site" />
        <mapping class="com.nanoo.model.entities.publication.Topo" />
        <mapping class="com.nanoo.model.entities.publication.TopoBooking" />
        <mapping class="com.nanoo.model.entities.publication.Way" />

        <mapping class="com.nanoo.model.entities.picture.Picture" />
    </session-factory>
</hibernate-configuration>