@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

.test{
    border: 1px solid red;
}

#menu {
    z-index: 2000;
}

#register, #spot-form-1, #spot-form-2, #spot-form-3, #topo-form, #commentary-form{
    width: 500px;
    position: absolute;
}

#login {
    width: 400px;
    position: absolute;
}

#message, #signout {
    width: auto;
    position: absolute;
}

#search-box{
    width: 80%;
    position: relative;
    height: 310px;
    margin-bottom: 45px;
}

#user-box{
    width: 80%;
    position: relative;
    height: auto;
    margin-bottom: 45px;
}

#site-box, #topo-box{
    width: 80%;
    position: relative;
    height: auto;
    margin: 130px auto 15px auto;
    padding: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border: white;
    border-radius: 10px;
    color: white;
}

#commentary-box{
    width: 80%;
    position: relative;
    min-height: 80vh;
    margin: 130px auto 15px auto;
    padding: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border: white;
    border-radius: 10px;
    color: white;
}

.commentary{
    color: #b9b9b9;
    width: 100%;
    margin: 15px auto 15px auto;
    padding: 10px 10px 15px 10px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 3px;
    background-color: rgba(255,255,255,0.3);
}

.commentary-header{
    font-size: 25px;
    font-weight: bold;
}

.commentary-text{
    font-size: 20px;
    padding-bottom: 15px;
}

.commentary-footer{
    margin-top: 5px;
    padding-right: 10px;
    font-size: 15px;
}

.commentary-date{
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
}

.site-header, .topo-header{
    display: flex;
}
.site-header button{
    justify-items: end;
}

#site-box h1, #topo-box h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

#commentary-box h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

#site-box h2, #topo-box h2 {
    font-size: 30px;
    font-weight: bold;
    color: #454545;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    width: max-content;
}

#site-picture, #topo-picture{
    width: 75%;
    height: 650px;
    border: 1px solid white;
    margin: 0 auto 20px auto;
    padding: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-small img{
    width: 200px;
    height: 153px;
}

#site-picture img, #topo-picture img{
    height: 90%;
}

.site-info, .sector-info, .topo-info, .account-info{
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 25px;
    margin-bottom: 15px;
}

.account-info{
    margin-top: 30px;
}

.site-info img, .topo-info img{
    width: 35px;
    height: 25px;
}

.sector-info{
    border-top: 1px solid white;
}

.way-info{
    padding: 0 100px;
    font-size: 20px;
    font-style: italic;
}

.display-box .button-display-bar{
    position: relative;
    bottom: 0;
}

.form-box {
    padding: 0 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border: white;
    border-radius: 10px;
    color: white;
}

.form-box h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    border-bottom: 6px solid #ffffff;
    padding-top: 13px;
    padding-bottom: 30px;
}

.form-box h2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.center-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-box {
    margin-top: 130px;
    padding-top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.display-box {
    width: 80%;
    position: relative;
    height: auto;
    margin: 15px auto 15px auto;
    padding: 20px 20px 20px 20px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.8);
    border: white;
    border-radius: 10px;
    color: white;
}

.display-box:hover, .display-box:focus {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.8);
    color: #454545;
}

.title{
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px !important;
}

.contain-link{
    height: 153px;
}

.contain-link a{
    color: white;
    text-decoration: none;
}

.contain-link a:hover{
    color: #9c9c9c;
}

.title-link{
    position: relative;
    width: max-content;
}

.description{
    font-size: 25px !important;
}
.display-description{
    font-size: 17px !important;
    height: 76px;
}

.sector-info .description{
    padding-bottom: 10px;
}

.before-loop{
    padding-bottom: 10px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #ffffff;
}

.textbox em {
    width: 26px;
    float: left;
    text-align: center;
}

.labelbox {
    margin-bottom: 15px;
}
.lendablebox{
    margin: 15px 0 15px;
}

.way-info em{
    width: 26px;
}

.way-info a{
    text-decoration: none;
    outline: none;
}

#way-form{
    margin-top: 10px;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

input[type=number]{
    width: 97%;
}

.textbox textarea{
    background: transparent;
    border: 1px solid #ffffff;
    width: 100%;
    padding: 8px;
}

.text-info-link {
    color: white;
    text-decoration: none;
    outline: none;
}

#commentary-box .text-info-link{
    color: #b9b9b9;
}


/*************************************/
/*****           Button          *****/
/*************************************/

.btn-form {
    width: 100%;
    background: none;
    border: 2px solid #ffffff;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 15px 0;
}

.btn-form:hover, .btn-form:focus {
    background-color: #ffffff;
    color: #383838;
    text-decoration: none;
}

.btn-search {
    width: 250px;
    background: none;
    border: 2px solid #ffffff;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 15px 0 15px;
}

#label{
    background: none;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: white;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 30px 15px 0 15px;
}

#label-icon{
    height: 85px;
    color: white;
}

#label-icon-result, #lendable-icon-result{
    height: 20px;
    color: white;
}

.btn-search:hover, .btn-search:focus {
    background-color: #ffffff;
    color: #383838;
    text-decoration: none;
}

#label:hover, #label:focus{
    background-color: #ffffff;
    color: #383838;
    text-decoration: none;
}

.button-search-bar {
    margin-top: 15px;
}

.button-display-bar em{
    margin-left: 20px;
}

.button-display-bar{
    margin-top: 20px;
}

#commentary-box .button-display-bar{
    margin-top: -10px;
}

#way em{
    margin-right: 10px;
    margin-left: 10px;
}

/*************************************/
/*****           Select          *****/
/*************************************/

select:hover {
    cursor: pointer;
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ffffff;
    width: auto;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    position: relative;
}

.select-style-md {
    border-radius: 3px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus, .select-style select:hover {
    background-color: #ffffff;
    color: #383838;
    text-decoration: none;
    outline: none;
}

.select-style-md select:focus, .select-style-md select:hover {
    background-color: #ffffff;
    color: #383838;
    text-decoration: none;
    outline: none;
}

.select-style-md select {
    padding: 5px 8px;
    width: 100%;
    border: 1px solid #ffffff;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style:after {
    top: 50%;
    left: 85%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #ededed;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

.select-style-md:after {
    top: 50%;
    left: 85%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #ededed;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

.select-style select:focus {
    outline: none;
    text-decoration: none;
}

.select-style-md select:focus {
    outline: none;
    text-decoration: none;
}

/*************************************/
/*****         text-area         *****/
/*************************************/
